# Dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
dist/
build/
.next/
.turbo/

# Coverage
coverage/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDE
.idea/
.vscode/

# Misc
*.log
.DS_Store
